extends layout
block content
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href='#') TODO #{message}
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    
    .collapse.navbar-collapse(id='navbarSupportedContent')
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='#') Home
      ul.navbar-nav.float-right
        li.nav-item
          a.nav-link(href='/login') Login
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(id='navbarDropdownMenuLink', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Accounts
          .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
            a.dropdown-item(href='#') Settings
            
 
  