:root {
    --main-bg-color: #f5f6f7; 
    --main-primary-color:#37b24d;
    --main-width: 430px;
  }
*{
    box-sizing: border-box;
    font-family:Roboto;
}
body{
    background: var(--main-bg-color);
}