@import url('./common.css');
.wrap-main{
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section{
    width:430px;
    display:flex;
    text-align:center;
}
.section a{
    flex:1;
    margin:10px;
    background:var(--main-primary-color);
    color:#fff;
    border:none;
    font-size:1.2rem;
    padding:15px 0;
}
.logout-btn{
    display:none;
}
